In [3]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv('data/AutoMobile PreProcessed.csv')

In [5]:
dataset

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,peak-rpm_5200,peak-rpm_5250,peak-rpm_5300,peak-rpm_5400,peak-rpm_5500,peak-rpm_5600,peak-rpm_5800,peak-rpm_5900,peak-rpm_6000,peak-rpm_6600
0,3,125.64359,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,0,0,0
1,3,125.64359,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,0,0,0
2,1,125.64359,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,0,0,0,0,0,0,0,0
3,2,164.00000,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,0,0,1,0,0,0,0,0
4,2,164.00000,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95.00000,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,0,0,1,0,0,0,0,0,0
197,-1,95.00000,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,1,0,0,0,0,0,0,0
198,-1,95.00000,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,0,0,1,0,0,0,0,0
199,-1,95.00000,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,0,0,0,0,0,0,0,0,0
200,-1,95.00000,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,0,0,1,0,0,0,0,0,0

In [6]:
y = dataset.loc[:,'price'].values
dataset.drop('price', inplace=True, axis=1)

In [7]:
X = dataset.loc[:,:].values

In [8]:
X

array([[  3.       , 125.6435897,  88.6      , ...,   0.       ,
          0.       ,   0.       ],
       [  3.       , 125.6435897,  88.6      , ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 125.6435897,  94.5      , ...,   0.       ,
          0.       ,   0.       ],
       ...,
       [ -1.       ,  95.       , 109.1      , ...,   0.       ,
          0.       ,   0.       ],
       [ -1.       ,  95.       , 109.1      , ...,   0.       ,
          0.       ,   0.       ],
       [ -1.       ,  95.       , 109.1      , ...,   0.       ,
          0.       ,   0.       ]])

In [9]:
y

array([13495, 16500, 16500, 13950, 17450, 15250, 17710, 18920, 23875,
       16430, 16925, 20970, 21105, 24565, 30760, 41315, 36880,  5151,
        6295,  6575,  5572,  6377,  7957,  6229,  6692,  7609,  8558,
        8921, 12964,  6479,  6855,  5399,  6529,  7129,  7295,  7295,
        7895,  9095,  8845, 10295, 12945, 10345,  6785, 11048, 32250,
       35550, 36000,  5195,  6095,  6795,  6695,  7395, 10945, 11845,
       13645, 15645,  8845,  8495, 10595, 10245, 10795, 11245, 18280,
       18344, 25552, 28248, 28176, 31600, 34184, 35056, 40960, 45400,
       16503,  5389,  6189,  6669,  7689,  9959,  8499, 12629, 14869,
       14489,  6989,  8189,  9279,  9279,  5499,  7099,  6649,  6849,
        7349,  7299,  7799,  7499,  7999,  8249,  8949,  9549, 13499,
       14399, 13499, 17199, 19699, 18399, 11900, 13200, 12440, 13860,
       15580, 16900, 16695, 17075, 16630, 17950, 18150,  5572,  7957,
        6229,  6692,  7609,  8921, 12764, 22018, 32528, 34028, 37028,
        9295,  9895, 11850, 12170, 15040, 15510, 18150, 18620,  5118,
        7053,  7603,  7126,  7775,  9960,  9233, 11259,  7463, 10198,
        8013, 11694,  5348,  6338,  6488,  6918,  7898,  8778,  6938,
        7198,  7898,  7788,  7738,  8358,  9258,  8058,  8238,  9298,
        9538,  8449,  9639,  9989, 11199, 11549, 17669,  8948, 10698,
        9988, 10898, 11248, 16558, 15998, 15690, 15750,  7775,  7975,
        7995,  8195,  8495,  9495,  9995, 11595,  9980, 13295, 13845,
       12290, 12940, 13415, 15985, 16515, 18420, 18950, 16845, 19045,
       21485, 22470, 22625], dtype=int64)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

In [65]:
class MultipleLinearRegression:
    def __init__(self,lr = 0.0000000001, epoch=7000):
        self.lr = lr
        self.epoch = epoch
        self.wights = None
        self.bais= None

    def fit(self,X,y):
        n_samples, n_features = X.shape
        self.wights = np.zeros(n_features)
        self.bais = 0

        # Gradient Descent
        for i in range(self.epoch):
            y_pred = np.dot(X, self.wights)+self.bais
            dw = (2/n_samples)*np.dot(X.T,(y_pred-y)) #Derivative W
            db = (2/n_samples)*np.sum((y_pred-y)) #Derivative B
            self.wights = self.wights - self.lr * dw
            self.bais = self.bais - self.lr * db

    def predict(self,X):
        y_pred = np.dot(X, self.wights) + self.bais
        return y_pred

In [66]:
def MSE(y_pred,y_true):
    mse = np.mean((y_pred-y_true)**2)
    return mse

In [87]:
reg = MultipleLinearRegression(lr=0.0000001, epoch=6000)
reg.fit(X_train,y_train)

In [88]:
y_pred = reg.predict(X_test)

In [89]:
MSE(y_pred,y_test)

11936436.138910614

In [90]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [91]:
y_pred = regressor.predict(X_test)

In [92]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_true=y_test,y_pred=y_pred)
mse

18383327.825572148