In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('data/BRCA.csv')

In [3]:
dataset

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.drop('Patient_ID', inplace=True, axis=1)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 334 non-null    float64
 1   Gender              334 non-null    object
 2   Protein1            334 non-null    float64
 3   Protein2            334 non-null    float64
 4   Protein3            334 non-null    float64
 5   Protein4            334 non-null    float64
 6   Tumour_Stage        334 non-null    object
 7   Histology           334 non-null    object
 8   ER status           334 non-null    object
 9   PR status           334 non-null    object
 10  HER2 status         334 non-null    object
 11  Surgery_type        334 non-null    object
 12  Date_of_Surgery     334 non-null    object
 13  Date_of_Last_Visit  317 non-null    object
 14  Patient_Status      321 non-null    object
dtypes: float64(5), object(10)
memory usage: 40.1+ KB

In [6]:
dataset.Tumour_Stage.value_counts()

II     189
III     81
I       64
Name: Tumour_Stage, dtype: int64

In [7]:
dataset.Tumour_Stage.replace({'I':1, 'II':2, 'III':3}, inplace=True)

In [8]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dataset.duplicated().sum()

6

In [10]:
dataset.drop_duplicates(inplace=True)

In [11]:
dataset.duplicated().sum()

0

In [12]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,44.0,MALE,0.732720,1.11170,-0.26952,-0.354920,2.0,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,01-Nov-19,04-Mar-20,Dead
331,61.0,FEMALE,-0.719470,2.54850,-0.15024,0.339680,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,18-Jan-21,Dead
332,79.0,FEMALE,0.479400,2.05590,-0.53136,-0.188480,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Lumpectomy,21-Nov-19,19-Feb-21,Dead
333,76.0,FEMALE,-0.244270,0.92556,-0.41823,-0.067848,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,05-Jan-21,Dead
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dataset.isna().sum()

Age                    1
Gender                 1
Protein1               1
Protein2               1
Protein3               1
Protein4               1
Tumour_Stage           1
Histology              1
ER status              1
PR status              1
HER2 status            1
Surgery_type           1
Date_of_Surgery        1
Date_of_Last_Visit    18
Patient_Status        14
dtype: int64

In [14]:
dataset.dropna(inplace=True)

In [15]:
dataset.isna().sum()

Age                   0
Gender                0
Protein1              0
Protein2              0
Protein3              0
Protein4              0
Tumour_Stage          0
Histology             0
ER status             0
PR status             0
HER2 status           0
Surgery_type          0
Date_of_Surgery       0
Date_of_Last_Visit    0
Patient_Status        0
dtype: int64

In [16]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,36.0,FEMALE,0.231800,0.61804,-0.55779,-0.517350,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Simple Mastectomy,11-Nov-19,09-Feb-20,Dead
330,44.0,MALE,0.732720,1.11170,-0.26952,-0.354920,2.0,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,01-Nov-19,04-Mar-20,Dead
331,61.0,FEMALE,-0.719470,2.54850,-0.15024,0.339680,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,18-Jan-21,Dead
332,79.0,FEMALE,0.479400,2.05590,-0.53136,-0.188480,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Lumpectomy,21-Nov-19,19-Feb-21,Dead
333,76.0,FEMALE,-0.244270,0.92556,-0.41823,-0.067848,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,05-Jan-21,Dead

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 333
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 317 non-null    float64
 1   Gender              317 non-null    object
 2   Protein1            317 non-null    float64
 3   Protein2            317 non-null    float64
 4   Protein3            317 non-null    float64
 5   Protein4            317 non-null    float64
 6   Tumour_Stage        317 non-null    float64
 7   Histology           317 non-null    object
 8   ER status           317 non-null    object
 9   PR status           317 non-null    object
 10  HER2 status         317 non-null    object
 11  Surgery_type        317 non-null    object
 12  Date_of_Surgery     317 non-null    object
 13  Date_of_Last_Visit  317 non-null    object
 14  Patient_Status      317 non-null    object
dtypes: float64(6), object(9)
memory usage: 39.6+ KB

In [18]:
date_of_Surgery = []
for i in dataset.Date_of_Surgery:
    x = i.split('-')
    date_of_Surgery.append(x)

In [19]:
date_of_Surgery

[['15', 'Jan', '17'],
 ['26', 'Apr', '17'],
 ['08', 'Sep', '17'],
 ['25', 'Jan', '17'],
 ['06', 'May', '17'],
 ['18', 'Sep', '17'],
 ['04', 'Feb', '17'],
 ['28', 'Sep', '17'],
 ['14', 'Feb', '17'],
 ['26', 'May', '17'],
 ['08', 'Oct', '17'],
 ['24', 'Feb', '17'],
 ['05', 'Jun', '17'],
 ['18', 'Oct', '17'],
 ['06', 'Mar', '17'],
 ['15', 'Jun', '17'],
 ['28', 'Oct', '17'],
 ['16', 'Mar', '17'],
 ['25', 'Jun', '17'],
 ['07', 'Nov', '17'],
 ['26', 'Mar', '17'],
 ['17', 'Nov', '17'],
 ['05', 'Apr', '17'],
 ['17', 'Nov', '17'],
 ['27', 'Nov', '17'],
 ['15', 'Apr', '17'],
 ['27', 'Nov', '17'],
 ['07', 'Dec', '17'],
 ['25', 'Apr', '17'],
 ['07', 'Dec', '17'],
 ['17', 'Dec', '17'],
 ['05', 'May', '17'],
 ['17', 'Dec', '17'],
 ['27', 'Dec', '17'],
 ['15', 'May', '17'],
 ['27', 'Dec', '17'],
 ['06', 'Jan', '18'],
 ['25', 'May', '17'],
 ['06', 'Jan', '18'],
 ['16', 'Jan', '18'],
 ['04', 'Jun', '17'],
 ['16', 'Jan', '18'],
 ['26', 'Jan', '18'],
 ['14', 'Jun', '17'],
 ['26', 'Jan', '18'],
 ['05', 'Feb', '18'],
 ['24', 'Jun', '17'],
 ['05', 'Feb', '18'],
 ['15', 'Feb', '18'],
 ['04', 'Jul', '17'],
 ['15', 'Feb', '18'],
 ['25', 'Feb', '18'],
 ['14', 'Jul', '17'],
 ['25', 'Feb', '18'],
 ['07', 'Mar', '18'],
 ['24', 'Jul', '17'],
 ['07', 'Mar', '18'],
 ['17', 'Mar', '18'],
 ['03', 'Aug', '17'],
 ['17', 'Mar', '18'],
 ['27', 'Mar', '18'],
 ['13', 'Aug', '17'],
 ['27', 'Mar', '18'],
 ['06', 'Apr', '18'],
 ['23', 'Aug', '17'],
 ['06', 'Apr', '18'],
 ['16', 'Apr', '18'],
 ['02', 'Sep', '17'],
 ['16', 'Apr', '18'],
 ['26', 'Apr', '18'],
 ['12', 'Sep', '17'],
 ['26', 'Apr', '18'],
 ['06', 'May', '18'],
 ['22', 'Sep', '17'],
 ['06', 'May', '18'],
 ['16', 'May', '18'],
 ['02', 'Oct', '17'],
 ['16', 'May', '18'],
 ['26', 'May', '18'],
 ['12', 'Oct', '17'],
 ['26', 'May', '18'],
 ['05', 'Jun', '18'],
 ['22', 'Oct', '17'],
 ['05', 'Jun', '18'],
 ['15', 'Jun', '18'],
 ['01', 'Nov', '17'],
 ['15', 'Jun', '18'],
 ['25', 'Jun', '18'],
 ['11', 'Nov', '17'],
 ['25', 'Jun', '18'],
 ['05', 'Jul', '18'],
 ['21', 'Nov', '17'],
 ['05', 'Jul', '18'],
 ['15', 'Jul', '18'],
 ['01', 'Dec', '17'],
 ['15', 'Jul', '18'],
 ['25', 'Jul', '18'],
 ['25', 'Jul', '18'],
 ['04', 'Aug', '18'],
 ['21', 'Dec', '17'],
 ['04', 'Aug', '18'],
 ['14', 'Aug', '18'],
 ['31', 'Dec', '17'],
 ['14', 'Aug', '18'],
 ['24', 'Aug', '18'],
 ['10', 'Jan', '18'],
 ['24', 'Aug', '18'],
 ['03', 'Sep', '18'],
 ['03', 'Sep', '18'],
 ['13', 'Sep', '18'],
 ['30', 'Jan', '18'],
 ['13', 'Sep', '18'],
 ['23', 'Sep', '18'],
 ['09', 'Feb', '18'],
 ['23', 'Sep', '18'],
 ['03', 'Oct', '18'],
 ['19', 'Feb', '18'],
 ['03', 'Oct', '18'],
 ['19', 'Feb', '18'],
 ['01', 'Mar', '18'],
 ['13', 'Oct', '18'],
 ['01', 'Mar', '18'],
 ['11', 'Mar', '18'],
 ['23', 'Oct', '18'],
 ['11', 'Mar', '18'],
 ['21', 'Mar', '18'],
 ['02', 'Nov', '18'],
 ['21', 'Mar', '18'],
 ['31', 'Mar', '18'],
 ['12', 'Nov', '18'],
 ['31', 'Mar', '18'],
 ['10', 'Apr', '18'],
 ['22', 'Nov', '18'],
 ['10', 'Apr', '18'],
 ['20', 'Apr', '18'],
 ['02', 'Dec', '18'],
 ['20', 'Apr', '18'],
 ['30', 'Apr', '18'],
 ['12', 'Dec', '18'],
 ['30', 'Apr', '18'],
 ['10', 'May', '18'],
 ['22', 'Dec', '18'],
 ['10', 'May', '18'],
 ['20', 'May', '18'],
 ['01', 'Jan', '19'],
 ['20', 'May', '18'],
 ['30', 'May', '18'],
 ['11', 'Jan', '19'],
 ['30', 'May', '18'],
 ['09', 'Jun', '18'],
 ['21', 'Jan', '19'],
 ['09', 'Jun', '18'],
 ['19', 'Jun', '18'],
 ['31', 'Jan', '19'],
 ['19', 'Jun', '18'],
 ['29', 'Jun', '18'],
 ['10', 'Feb', '19'],
 ['29', 'Jun', '18'],
 ['09', 'Jul', '18'],
 ['20', 'Feb', '19'],
 ['09', 'Jul', '18'],
 ['19', 'Jul', '18'],
 ['02', 'Mar', '19'],
 ['19', 'Jul', '18'],
 ['29', 'Jul', '18'],
 ['12', 'Mar', '19'],
 ['08', 'Aug', '18'],
 ['22', 'Mar', '19'],
 ['08', 'Aug', '18'],
 ['18', 'Aug', '18'],
 ['01', 'Apr', '19'],
 ['18', 'Aug', '18'],
 ['28', 'Aug', '18'],
 ['11', 'Apr', '19'],
 ['28', 'Aug', '18'],
 ['07', 'Sep', '18'],
 ['21', 'Apr', '19'],
 ['17', 'Sep', '18'],
 ['01', 'May', '19'],
 ['17', 'Sep', '18'],
 ['27', 'Sep', '18'],
 ['11', 'May', '19'],
 ['27', 'Sep', '18'],
 ['21', 'May', '19'],
 ['07', 'Oct', '18'],
 ['17', 'Oct', '18'],
 ['31', 'May', '19'],
 ['17', 'Oct', '18'],
 ['27', 'Oct', '18'],
 ['27', 'Oct', '18'],
 ['06', 'Nov', '18'],
 ['20', 'Jun', '19'],
 ['06', 'Nov', '18'],
 ['16', 'Nov', '18'],
 ['30', 'Jun', '19'],
 ['16', 'Nov', '18'],
 ['26', 'Nov', '18'],
 ['10', 'Jul', '19'],
 ['06', 'Dec', '18'],
 ['20', 'Jul', '19'],
 ['06', 'Dec', '18'],
 ['16', 'Dec', '18'],
 ['07', 'Oct', '18'],
 ['17', 'Oct', '18'],
 ['31', 'May', '19'],
 ['17', 'Oct', '18'],
 ['27', 'Oct', '18'],
 ['10', 'Jun', '19'],
 ['27', 'Oct', '18'],
 ['06', 'Nov', '18'],
 ['06', 'Nov', '18'],
 ['06', 'Nov', '18'],
 ['16', 'Nov', '18'],
 ['26', 'Nov', '18'],
 ['16', 'Nov', '18'],
 ['26', 'Nov', '18'],
 ['06', 'Dec', '18'],
 ['26', 'Nov', '18'],
 ['06', 'Dec', '18'],
 ['16', 'Dec', '18'],
 ['06', 'Dec', '18'],
 ['16', 'Dec', '18'],
 ['26', 'Dec', '18'],
 ['16', 'Dec', '18'],
 ['26', 'Dec', '18'],
 ['05', 'Jan', '19'],
 ['26', 'Dec', '18'],
 ['05', 'Jan', '19'],
 ['15', 'Jan', '19'],
 ['05', 'Jan', '19'],
 ['15', 'Jan', '19'],
 ['25', 'Jan', '19'],
 ['15', 'Jan', '19'],
 ['25', 'Jan', '19'],
 ['04', 'Feb', '19'],
 ['25', 'Jan', '19'],
 ['04', 'Feb', '19'],
 ['14', 'Feb', '19'],
 ['04', 'Feb', '19'],
 ['14', 'Feb', '19'],
 ['24', 'Feb', '19'],
 ['14', 'Feb', '19'],
 ['24', 'Feb', '19'],
 ['06', 'Mar', '19'],
 ['24', 'Feb', '19'],
 ['06', 'Mar', '19'],
 ['16', 'Mar', '19'],
 ['06', 'Mar', '19'],
 ['16', 'Mar', '19'],
 ['26', 'Mar', '19'],
 ['16', 'Mar', '19'],
 ['26', 'Mar', '19'],
 ['05', 'Apr', '19'],
 ['26', 'Mar', '19'],
 ['15', 'Apr', '19'],
 ['05', 'Apr', '19'],
 ['15', 'Apr', '19'],
 ['25', 'Apr', '19'],
 ['15', 'Apr', '19'],
 ['25', 'Apr', '19'],
 ['05', 'May', '19'],
 ['25', 'Apr', '19'],
 ['05', 'May', '19'],
 ['15', 'May', '19'],
 ['05', 'May', '19'],
 ['15', 'May', '19'],
 ['25', 'May', '19'],
 ['15', 'May', '19'],
 ['25', 'May', '19'],
 ['04', 'Jun', '19'],
 ['25', 'May', '19'],
 ['14', 'Jun', '19'],
 ['24', 'Jun', '19'],
 ['14', 'Jun', '19'],
 ['24', 'Jun', '19'],
 ['04', 'Jul', '19'],
 ['24', 'Jun', '19'],
 ['04', 'Jul', '19'],
 ['14', 'Jul', '19'],
 ['04', 'Jul', '19'],
 ['14', 'Jul', '19'],
 ['24', 'Jul', '19'],
 ['14', 'Jul', '19'],
 ['24', 'Jul', '19'],
 ['03', 'Aug', '19'],
 ['24', 'Jul', '19'],
 ['03', 'Aug', '19'],
 ['13', 'Aug', '19'],
 ['03', 'Aug', '19'],
 ['13', 'Aug', '19'],
 ['13', 'Aug', '19'],
 ['23', 'Aug', '19'],
 ['02', 'Sep', '19'],
 ['23', 'Aug', '19'],
 ['02', 'Sep', '19'],
 ['12', 'Sep', '19'],
 ['02', 'Sep', '19'],
 ['12', 'Sep', '19'],
 ['22', 'Sep', '19'],
 ['12', 'Sep', '19'],
 ['22', 'Sep', '19'],
 ['02', 'Oct', '19'],
 ['22', 'Sep', '19'],
 ['02', 'Oct', '19'],
 ['12', 'Oct', '19'],
 ['12', 'Oct', '19'],
 ['22', 'Oct', '19'],
 ['12', 'Oct', '19'],
 ['22', 'Oct', '19'],
 ['01', 'Nov', '19'],
 ['22', 'Oct', '19'],
 ['01', 'Nov', '19'],
 ['11', 'Nov', '19'],
 ['01', 'Nov', '19'],
 ['11', 'Nov', '19'],
 ['21', 'Nov', '19'],
 ['11', 'Nov', '19']]

In [20]:
surgery = pd.DataFrame(date_of_Surgery, columns = ['S_day', 'S_month', 'S_year'])

In [21]:
date_of_Last_Visit = []
for i in dataset.Date_of_Last_Visit:
    x = i.split('-')
    date_of_Last_Visit.append(x)

In [22]:
len(date_of_Last_Visit)

317

In [23]:
l_visit = pd.DataFrame(date_of_Last_Visit,columns = ['lv_day', 'lv_month', 'lv_year'])

In [24]:
dataset = pd.concat([dataset,surgery],axis=1)

In [25]:
dataset = pd.concat([dataset,l_visit],axis=1)

In [26]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,...,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status,S_day,S_month,S_year,lv_day,lv_month,lv_year
0,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,...,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive,15,Jan,17,19,Jun,17
1,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,...,Lumpectomy,26-Apr-17,09-Nov-18,Dead,26,Apr,17,09,Nov,18
2,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,...,Other,08-Sep-17,09-Jun-18,Alive,08,Sep,17,09,Jun,18
3,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,...,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive,25,Jan,17,12,Jul,17
4,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,...,Other,06-May-17,27-Jun-19,Dead,06,May,17,27,Jun,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15,May,19,26,Dec,19
283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24,Jul,19,05,Mar,20
285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24,Jul,19,07,Oct,19
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,03,Aug,19,16,Aug,20
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,Oct,19,07,Nov,20

In [27]:
dataset.dropna(inplace=True)

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 316
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 301 non-null    float64
 1   Gender              301 non-null    object
 2   Protein1            301 non-null    float64
 3   Protein2            301 non-null    float64
 4   Protein3            301 non-null    float64
 5   Protein4            301 non-null    float64
 6   Tumour_Stage        301 non-null    float64
 7   Histology           301 non-null    object
 8   ER status           301 non-null    object
 9   PR status           301 non-null    object
 10  HER2 status         301 non-null    object
 11  Surgery_type        301 non-null    object
 12  Date_of_Surgery     301 non-null    object
 13  Date_of_Last_Visit  301 non-null    object
 14  Patient_Status      301 non-null    object
 15  S_day               301 non-null    object
 16  S_month             301 non-null    object
 17  S_year              301 non-null    object
 18  lv_day              301 non-null    object
 19  lv_month            301 non-null    object
 20  lv_year             301 non-null    object
dtypes: float64(6), object(15)
memory usage: 51.7+ KB

In [29]:
dataset.drop(['Date_of_Last_Visit','Date_of_Surgery'], inplace=True, axis=1)

In [30]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Patient_Status,S_day,S_month,S_year,lv_day,lv_month,lv_year
0,36.0,FEMALE,0.080353,0.426380,0.547150,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,15,Jan,17,19,Jun,17
1,43.0,FEMALE,-0.420320,0.578070,0.614470,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,Dead,26,Apr,17,09,Nov,18
2,69.0,FEMALE,0.213980,1.311400,-0.327470,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,08,Sep,17,09,Jun,18
3,56.0,FEMALE,0.345090,-0.211470,-0.193040,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,25,Jan,17,12,Jul,17
4,56.0,FEMALE,0.221550,1.906800,0.520450,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Dead,06,May,17,27,Jun,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,66.0,FEMALE,-1.344100,1.128000,-0.229350,-0.229930,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,11,Nov,19,09,Feb,20
313,65.0,FEMALE,-0.091334,0.054757,0.034648,-0.588830,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,01,Nov,19,04,Mar,20
314,44.0,FEMALE,0.891850,0.444400,0.110200,0.156850,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,11,Nov,19,18,Jan,21
315,61.0,FEMALE,-0.405920,2.751300,-0.595420,0.816390,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,Alive,21,Nov,19,19,Feb,21
316,54.0,FEMALE,-1.231300,-0.767670,0.861600,0.239050,2.0,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,11,Nov,19,05,Jan,21

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 316
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             301 non-null    float64
 1   Gender          301 non-null    object
 2   Protein1        301 non-null    float64
 3   Protein2        301 non-null    float64
 4   Protein3        301 non-null    float64
 5   Protein4        301 non-null    float64
 6   Tumour_Stage    301 non-null    float64
 7   Histology       301 non-null    object
 8   ER status       301 non-null    object
 9   PR status       301 non-null    object
 10  HER2 status     301 non-null    object
 11  Surgery_type    301 non-null    object
 12  Patient_Status  301 non-null    object
 13  S_day           301 non-null    object
 14  S_month         301 non-null    object
 15  S_year          301 non-null    object
 16  lv_day          301 non-null    object
 17  lv_month        301 non-null    object
 18  lv_year         301 non-null    object
dtypes: float64(6), object(13)
memory usage: 47.0+ KB

In [32]:
month = {'01':'Jan',
		'02':'Feb',
		'03':'Mar',
		'04':'Apr',
		'05':'May',
		'06':'Jun',
		'07':'Jul',
		'08':'Aug',
		'09':'Sep',
		'10':'Oct',
		'11':'Nov',
		'12':'Dec'}

In [33]:
months = {v: k for k, v in month.items()}

In [34]:
months

{'Jan': '01',
 'Feb': '02',
 'Mar': '03',
 'Apr': '04',
 'May': '05',
 'Jun': '06',
 'Jul': '07',
 'Aug': '08',
 'Sep': '09',
 'Oct': '10',
 'Nov': '11',
 'Dec': '12'}

In [35]:
dataset.S_month.replace(months, inplace=True)
dataset.lv_month.replace(months, inplace=True)

In [36]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Patient_Status,S_day,S_month,S_year,lv_day,lv_month,lv_year
0,36.0,FEMALE,0.080353,0.426380,0.547150,0.273680,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,15,01,17,19,06,17
1,43.0,FEMALE,-0.420320,0.578070,0.614470,-0.031505,2.0,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,Dead,26,04,17,09,11,18
2,69.0,FEMALE,0.213980,1.311400,-0.327470,-0.234260,3.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,08,09,17,09,06,18
3,56.0,FEMALE,0.345090,-0.211470,-0.193040,0.124270,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,25,01,17,12,07,17
4,56.0,FEMALE,0.221550,1.906800,0.520450,-0.311990,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Dead,06,05,17,27,06,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,66.0,FEMALE,-1.344100,1.128000,-0.229350,-0.229930,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,11,11,19,09,02,20
313,65.0,FEMALE,-0.091334,0.054757,0.034648,-0.588830,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,Alive,01,11,19,04,03,20
314,44.0,FEMALE,0.891850,0.444400,0.110200,0.156850,2.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,11,11,19,18,01,21
315,61.0,FEMALE,-0.405920,2.751300,-0.595420,0.816390,1.0,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,Alive,21,11,19,19,02,21
316,54.0,FEMALE,-1.231300,-0.767670,0.861600,0.239050,2.0,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,Alive,11,11,19,05,01,21

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 316
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             301 non-null    float64
 1   Gender          301 non-null    object
 2   Protein1        301 non-null    float64
 3   Protein2        301 non-null    float64
 4   Protein3        301 non-null    float64
 5   Protein4        301 non-null    float64
 6   Tumour_Stage    301 non-null    float64
 7   Histology       301 non-null    object
 8   ER status       301 non-null    object
 9   PR status       301 non-null    object
 10  HER2 status     301 non-null    object
 11  Surgery_type    301 non-null    object
 12  Patient_Status  301 non-null    object
 13  S_day           301 non-null    object
 14  S_month         301 non-null    object
 15  S_year          301 non-null    object
 16  lv_day          301 non-null    object
 17  lv_month        301 non-null    object
 18  lv_year         301 non-null    object
dtypes: float64(6), object(13)
memory usage: 47.0+ KB

In [38]:
dataset[['S_day', 'S_month', 'S_year', 'lv_day', 'lv_month', 'lv_year']] = dataset[
	['S_day', 'S_month', 'S_year', 'lv_day', 'lv_month', 'lv_year']].apply(pd.to_numeric)

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 316
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             301 non-null    float64
 1   Gender          301 non-null    object
 2   Protein1        301 non-null    float64
 3   Protein2        301 non-null    float64
 4   Protein3        301 non-null    float64
 5   Protein4        301 non-null    float64
 6   Tumour_Stage    301 non-null    float64
 7   Histology       301 non-null    object
 8   ER status       301 non-null    object
 9   PR status       301 non-null    object
 10  HER2 status     301 non-null    object
 11  Surgery_type    301 non-null    object
 12  Patient_Status  301 non-null    object
 13  S_day           301 non-null    int64
 14  S_month         301 non-null    int64
 15  S_year          301 non-null    int64
 16  lv_day          301 non-null    int64
 17  lv_month        301 non-null    int64
 18  lv_year         301 non-null    int64
dtypes: float64(6), int64(6), object(7)
memory usage: 47.0+ KB

In [40]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [41]:
for col in dataset.columns:
    if dataset[col].dtype == 'object':
        dataset[col] = le.fit_transform(dataset[col])

In [42]:
dataset

,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Patient_Status,S_day,S_month,S_year,lv_day,lv_month,lv_year
0,36.0,0,0.080353,0.426380,0.547150,0.273680,3.0,0,0,0,0,1,0,15,1,17,19,6,17
1,43.0,0,-0.420320,0.578070,0.614470,-0.031505,2.0,2,0,0,0,0,1,26,4,17,9,11,18
2,69.0,0,0.213980,1.311400,-0.327470,-0.234260,3.0,0,0,0,0,2,0,8,9,17,9,6,18
3,56.0,0,0.345090,-0.211470,-0.193040,0.124270,2.0,0,0,0,0,1,0,25,1,17,12,7,17
4,56.0,0,0.221550,1.906800,0.520450,-0.311990,2.0,0,0,0,0,2,1,6,5,17,27,6,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,66.0,0,-1.344100,1.128000,-0.229350,-0.229930,2.0,0,0,0,0,2,0,11,11,19,9,2,20
313,65.0,0,-0.091334,0.054757,0.034648,-0.588830,2.0,0,0,0,0,2,0,1,11,19,4,3,20
314,44.0,0,0.891850,0.444400,0.110200,0.156850,2.0,0,0,0,0,1,0,11,11,19,18,1,21
315,61.0,0,-0.405920,2.751300,-0.595420,0.816390,1.0,0,0,0,0,0,0,21,11,19,19,2,21
316,54.0,0,-1.231300,-0.767670,0.861600,0.239050,2.0,1,0,0,0,1,0,11,11,19,5,1,21

In [43]:
y = dataset.Patient_Status
dataset.drop(['Patient_Status'], inplace=True, axis=1)
X = dataset

In [48]:
X = X.values
y = y.values

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)

In [65]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [66]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression()

In [67]:
y_pred = clf.predict(X_test)

In [68]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, auc
acc = accuracy_score(y_test,y_pred)
confusion_matrix = confusion_matrix(y_test,y_pred)
pre_score = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

In [69]:
confusion_matrix

array([[56,  3],
       [16,  1]], dtype=int64)

In [72]:
recall

0.058823529411764705

In [73]:
pre_score

0.25

In [74]:
acc

0.75

In [75]:
f1

0.09523809523809523